#container{
    width: 1055px;
    height: 100%;
    background-color: lightgreen;
    border: solid green 5px;
    padding: 10px;
}

img{
    width: 250px;
    display: inline-block;
    border: solid black 5px;    
}
